# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/pages/api/hello.ts
typing_accessKeys.csv
client_secret_184271664406-q5nh39sa7ntg7mg9q3onke8iii0inoqo.apps.googleusercontent.com.json
calendar-399611-firebase-adminsdk-7n4cw-e99b98f035.json
notepad.txt
