@use "../../../../styles/ThemeColor.scss" as Color;
.container {
  display: grid;
  grid-template-columns: 35px 1fr 80px;
  gap: 10px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.button {
  cursor: pointer;
  position: relative;
  margin: 2px 0;
  width: 35px;
  height: 35px;

  background-color: Color.$ThemeColor-3;
  border-radius: 8px;
}
.circle {
  border-radius: 24px;
  overflow: hidden;
}
