@use "../../../../styles/ThemeColor.scss" as Color;
.container {
  display: grid;
  grid-template-columns: 35px 1fr 80px;
  gap: 10px;
}
.noButtons {
  grid-template-columns: 35px 1fr !important;
}
.pointer {
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 10px;
}
.button {
  cursor: pointer;
  position: relative;
  margin: 2px 0;
  width: 35px;
  height: 35px;

  background-color: Color.$ThemeColor-3;
  border-radius: 8px;
}
.dumpButton {
  cursor: pointer;
  position: relative;
  margin: 2px 0;
  width: 35px;
  height: 35px;

  border-radius: 8px;
}
.circle {
  border-radius: 24px;
  overflow: hidden;
}
// @use "@/styles/vars.scss" as vars;
// /* PC , 테블릿 가로 (해상도 769px ~ 1024px)*/
// @media all and (min-width: calc(vars.$windowWidth-tablet + 1px)) and (max-width: vars.$windowWidth-pc) {
//     /*스타일입력*/

//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 481px ~ 768px)*/
//   @media all and (min-width: calc(vars.$windowWidth-mobile + 1px)) and (max-width: vars.$windowWidth-tablet) {
//     /*스타일입력*/
//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 ~ 478px)*/
//   @media all and (max-width: vars.$windowWidth-mobile) {
//     /*스타일입력*/
//   }
