.wrapper {
  width: 100%;
  text-align: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yearMonth {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}
.weekColumn {
  font-weight: bold;
  font-size: 18px;
}
.weekGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  & .sat {
    color: #4f56ff;
  }
  & .sun {
    color: #ff7e7e;
  }
}
.dateConatiner {
  width: 100%;
}
// @use "@/styles/vars.scss" as vars;
// /* PC , 테블릿 가로 (해상도 769px ~ 1024px)*/
// @media all and (min-width: calc(vars.$windowWidth-tablet + 1px)) and (max-width: vars.$windowWidth-pc) {
//     /*스타일입력*/

//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 481px ~ 768px)*/
//  @media all and (min-width: calc(vars.$windowWidth-mobile + 1px)) and (max-width: vars.$windowWidth-tablet) {
//     /*스타일입력*/
//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 ~ 478px)*/
//   @media all and (max-width: vars.$windowWidth-mobile) {
//     /*스타일입력*/
//   }
