@use "../../../styles/ThemeColor.scss" as Color;
.container {
  width: 100%;
  height: 100%;
  //   background-color: Color.$ThemeColor-2;
  & > div {
    margin-bottom: 1em;
  }
}
.input {
  text-align: left;
}
.cancel {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 2px solid Color.$ThemeColor-3;
  border-radius: 8px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}
.members {
  & .title {
    font-size: 18px;
  }
}
.box {
  display: grid;
  grid-template-columns: 1fr 36px;
}
.icon {
  width: 36px;
  height: 36px;
  position: relative;
  border: 1px solid Color.$ThemeColor-2;
  border-radius: 8px;
  overflow: hidden;
}

.selected {
  background-color: Color.$ThemeColor-2;
}
// @use "@/styles/vars.scss" as vars;
// /* PC , 테블릿 가로 (해상도 769px ~ 1024px)*/
// @media all and (min-width: calc(vars.$windowWidth-tablet + 1px)) and (max-width: vars.$windowWidth-pc) {
//     /*스타일입력*/

//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 481px ~ 768px)*/
//   @media all and (min-width: calc(vars.$windowWidth-mobile + 1px)) and (max-width: calc(vars.$windowWidth-tablet - 1px)) {
//     /*스타일입력*/
//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 ~ 478px)*/
//   @media all and (max-width: vars.$windowWidth-mobile) {
//     /*스타일입력*/
//   }
