@use "../../../../styles/ThemeColor.scss" as Color;
.container {
  width: 5.625vw;
  height: 105px;
}
.date{
  background-color: Color.$ThemeColor-2;
  border-radius: 16px;
}
.etc {
  color: #ffffff;
  margin-top: 3%;
  text-align: right;
}
.scheduleBox {
  padding: 5%;
}
.schedules {
  display: grid;
  gap: 5%;
  & div {
    color: #ffffff;
  }
}
// @use "@/styles/vars.scss" as vars;
// /* PC , 테블릿 가로 (해상도 769px ~ 1024px)*/
// @media all and (min-width: calc(vars.$windowWidth-tablet + 1px)) and (max-width: vars.$windowWidth-pc) {
//     /*스타일입력*/

//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 481px ~ 768px)*/
//   @media all and (min-width: calc(vars.$windowWidth-mobile + 1px)) and (max-width: vars.$windowWidth-tablet) {
//     /*스타일입력*/
//   }

//   /* 모바일 가로, 테블릿 세로 (해상도 ~ 478px)*/
//   @media all and (max-width: vars.$windowWidth-mobile) {
//     /*스타일입력*/
//   }
