@use "../../../../styles/ThemeColor.scss" as Color;
.container {
  width: 5.625vw;
  height: 105px;
}
.date{
  background-color: Color.$ThemeColor-2;
  border-radius: 16px;
}
.etc {
  color: #ffffff;
  margin-top: 3%;
  text-align: right;
}
.scheduleBox {
  padding: 5%;
}
.schedules {
  display: grid;
  gap: 5%;
  & div {
    color: #ffffff;
  }
}
